@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
}

.orange-btn a {
    background-color: #F86C43;
}

.bg-macbook::before {
    background: url("/src/assets/macbook.jpg");
}

.grid-row-custom-1 {
    grid-row: 1;
}

.grid-col-custom-12 {
    grid-template-columns: repeat(12, 1fr);
}

